:root {
  --branding-main-darkmode: #d0d0ff;
}

.darkmode .frame {
  background-color: hsl(202, 20%, 14%);
}


.darkmode .evaluation {
  background-color: hsl(202, 20%, 16%);
}

.darkmode .evaluation h1 {
  color: var(--branding-main-darkmode);
}

.darkmode .evaluation h2 {
  color: #ccc;
}

.darkmode .evaluation h2 img {
  filter: invert();
  opacity: .8;
}

.darkmode .evaluation h3 {
  color: #aaa;
}

.darkmode .evaluation p {
  color: #999;
}

.darkmode .evaluation li {
  color: #999;
}

.darkmode .evaluation a {
  color: var(--branding-main-darkmode);
}

.darkmode .evaluation-intro {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.darkmode .progress-bar-container {
  background-color: hsl(202, 20%, 16%);
}

.darkmode .progress-bar {
  background-color: var(--branding-main-darkmode);
}

.darkmode .form_section {
  background-color: hsl(202, 20%, 16%);
}

.darkmode .form_section:nth-child(even) {
  background-color: hsl(202, 20%, 19%);
}

.darkmode .radio-button-group label {
  border: 1px solid var(--branding-main-darkmode);
  border-right: none;
  color: var(--branding-main-darkmode);
}

.darkmode .radio-button-group label:last-child {
  border-right: 1px solid var(--branding-main-darkmode);
}

.darkmode .radio-button-group label:hover {
  background-color: var(--branding-main-darkmode);
  cursor: pointer;
  color: #000;
}

.darkmode .radio-button-group input[type="radio"]:focus + label {
  background-color: var(--branding-main-darkmode);
  color: #000;
}

.darkmode .radio-button-group input[type="radio"]:checked + label {
  background-color: var(--branding-main-darkmode);
  color: #000;
}

.darkmode input, textarea {
  background-color: rgba(0,0,0,0);
}

.darkmode textarea:focus {
  outline: none;
  border: 1px solid var(--branding-main-darkmode);
  background-color: rgba(0,0,0,0);
  box-shadow: 0px 0px 15px hsla(240, 100%, 82%, .4),
              inset 0px 0px 30px hsla(240, 100%, 82%, .15);
}
