:root {
  --main-30: hsla(165, 100%, 30%, 1);
  --main-20: hsla(165, 100%, 20%, 1);
  --main-10: hsla(165, 100%, 10%, 1);
  --main-selection: hsla(165, 100%, 10%, .1);
}

::selection {
  background: var(--main-selection);
}

html {
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
  background-color: hsl(165, 24%, 94%); /* Fallback for older browsers */
  background: linear-gradient(to right, hsl(165, 24%, 94%), hsl(165, 24%, 94%) 50%, #fff 51%);
}

h1, h2, h3, button {
  font-family: "Sen", sans-serif;
}

button {
    background-color: var(--main-30);
    color: #fff;
    font-size: .9em;
    font-weight: 700;
    width: 100%;
    padding: 1em 3em;
    border-radius: 100px;
    border: none;
    transition: background-color .2s ease-in-out;
}

button:hover, button:focus {
    cursor: pointer;
    background-color: var(--main-20);
}

body {
  display: flex;
  justify-content: center;
}

section {
  max-width: 54em;
  padding: 6em;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;

  animation: fadeInRight .8s ease-in-out;
}

section.sticky {
  position: sticky;
  width: 420px;
  align-self: flex-start;
  flex-shrink: 0;
  padding-left: 1em;
  background-color: transparent;

  animation: fadeInLeft .8s ease-in-out;
}

section.sticky.tnc {
  top: calc(50vh - (540px / 2));
}

section.sticky.priv {
  top: calc(50vh - (638px / 2));
}

section.sticky button {
  background-color: var(--main-30);
  color: #fff;
  font-size: .9em;
  font-weight: 700;
  width: 100%;

  padding: 1em 3em;
  border-radius: 100px;
  border: none;
  transition: background-color .2s ease-in-out;
}

section.sticky button:hover {
  cursor: pointer;
  background-color: var(--main-20);
}

section.sticky p {
  font-size: .9em;
  margin-top: 1.5em;
}

section.sticky li {
  font-size: .9em;
}

section.sticky li:before {
  width: 0;
}

p, li, h1, h2, h3 {
  line-height: 150%;
}

p {
  margin-bottom: 1em;
}

p.extra-spacing {
  margin-top: 1em;
}

h1 {
  font-size: 2.5em;
  font-weight: bolder;
  margin-bottom: .5em;
  margin-top: -.25em; /* Aligns the H1 with the 'return to app' button */
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: .5em;

  transition: padding-left .2s ease-in-out;
}

h2::before {
  transition: opacity .2s ease-in-out;
  content: "→";
  color: var(--main-30);
  margin-right: .5em;
  margin-left: -1.5em;
  opacity: 0;
}

h2:target, h2:hover {
  padding-left: 1.5em;
}

h2:target::before, h2:hover::before {
  opacity: 1;
}

h2 a {
  color: #333;
  text-decoration: none;
  width: 100%;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 2em 0;
  padding: 1em 3em;
  font-style: italic;
  border-radius: 4px;
  background-color: hsla(165, 50%, 40%, .1);
  text-align: center;
}

a {
  color: var(--main-30);
  transition: opacity .2s ease-in-out;
}

a:hover, a:focus {
  color: var(--main-10);
}

.chevron-left {
  margin-right: .7em;
  transition: margin-left .2s ease-in-out;
}

button:hover .chevron-left{
  margin-left: -2em;
}

ul, ol {
  margin-left: 1em;
}

ul > li {
  padding: 0 0 0 1em;
  text-indent: -1em;
  list-style-type: none;
}

ul > li:before {
  display: inline-block;
  padding-right: .75em;
  font-weight: 500;
  content: "•";
  font-size: 1.4em;
  transform: translateY(2px);
  color: var(--main-30);
}

ol {
  margin: 0 0 1.5em;
  counter-reset: item;
}

ol > li {
  padding: 0 0 0 2em;
  text-indent: -1em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  /* width: 2em; */
  padding-right: 1em;
  font-weight: 500;
  text-align: right;
  content: counter(item) ".";
}

li {
  margin-bottom: .5em;
}

li span {
  font-weight: 500;
}

li span:after {
  content: " —";
}

section.sticky hr {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #00997340, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #00997340, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #00997340, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #00997340, #f0f0f0);
  margin: 2.5em 0;
}

section.sticky ul > li:before {
  padding-right: .25em;
}

hr.cookie {
  border: 0;
  height: 10em;
  background-image: url(/i/cookies.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  animation: scrollingCookies 20s linear infinite;
  border-radius: 5px;
  box-shadow: inset 0px 2px 15px rgba(0,0,0,.1);
  margin: 6em 0;
  filter: saturate(0.8);

  transition: filter .5s ease-in-out;
}

hr.cookie:hover {
  filter: saturate(1);
  /* cursor: grab; */
}

hr.cookie:focus {

}

p.last-updated {
  font-style: italic;
  opacity: .7;
}

span.last-updated {
  border-bottom: 1px dashed #555;
}

.sticky li {
  margin-bottom: .1337em;
}

.sticky hr {
  margin: 1.5em 0;
}

.table-of-contents {
  opacity: .4;
  transition: opacity .2s ease-in-out;
}

.table-of-contents:hover {
  opacity: 1;
}

nav {
  position: fixed;
  width: 100vw;
  z-index: 10;
  transition: transform .3s ease-in-out;
}

.login nav, .profile nav {
  top: 0; /* Vertically align with the top for login screens */
}

nav.headroom--unpinned {
  transform: translateY(-8em);
}

nav.headroom--unpinned .nav-logo svg {
  transform: translate(-80px, 0px) rotate(-130deg); /* Fly to the right */
  transform: translate(100px, -100px) rotate(-140deg); /* Fly to the top */
}

nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  height: 82px;
  /* background-color: #fff; */
}

.navbar .nav-logo {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
  font-family: "Sen", sans-serif;
}

.navbar .nav-logo:hover {
  color: var(--main-20);
}

.navbar .nav-logo:hover svg {
  animation: jello 1s ease-in-out infinite;
}

.navbar .nav-logo:active svg {
  transform: translate(0px, 0px); /* Vertically align with logo text */
  transition: transform .2s ease-in-out;
}

.navbar .nav-logo svg {
  margin-right: .5em;
  transform: translate(0px, 0px); /* Vertically align with logo text */
  transition: transform .6s ease-in-out;
}

.navbar .nav-account {
  color: #333;
  width: 174px; /* Fix: forces urlbar to be vertically centered */
  text-align: right;
  font-family: 'Sen', sans-serif;
}

.navbar .nav-account:hover {
  color: var(--main-20);
  text-decoration: none;
}

.navbar button {
  padding: .83em 3em;
}

.navbar button.nav-sign-in {
  width: auto;
}

.urlbar {
  display: flex;
}

.urlbar input {
  width: 26em;
  border: none;
  border-radius: 4em;
  font-size: 1em;
  padding: 1em 2em;
  padding-right: 14em;
  background-color: hsla(0, 0%, 100%, .9);
  backdrop-filter: blur(4px);
  color: hsl(165, 80%, 10%);

  box-shadow:   0 1px 2px   hsla(165, 30%, 30%, .07),
                0 2px 4px   hsla(165, 30%, 30%, .07),
                0 4px 8px   hsla(165, 30%, 30%, .07),
                0 8px 16px  hsla(165, 30%, 30%, .07),
                0 16px 32px hsla(165, 30%, 30%, .07),
                0 32px 64px hsla(165, 30%, 30%, .07);

  transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.urlbar input:focus, .urlbar input:hover  {
  background-color: hsla(0,0%,100%, 1);
  color: var(--main-20);
  box-shadow:   0 2px 4px    hsla(165, 30%, 30%, .14),
                0 4px 8px    hsla(165, 30%, 30%, .14),
                0 8px 16px   hsla(165, 30%, 30%, .14),
                0 16px 32px  hsla(165, 30%, 30%, .14),
                0 32px 64px  hsla(165, 30%, 30%, .14),
                0 64px 128px hsla(165, 30%, 30%, .14);
  outline: none;
}

.urlbar button {
  width: auto;
  font-weight: 600;
  border-radius: 4em;
  margin-left: -14.5em;
  padding: .85em 3em;
  align-self: center; /* Make sure the button does not grow vertically */
  z-index: 2;
}


@media only screen and (max-width: 1060px) {
  html {
    background: linear-gradient(90deg, hsl(165, 24%, 94%), hsl(165, 24%, 94%));
  }

  nav {
    top: 0;
  }

  nav .navbar {
    background-color: hsla(0, 0%, 100%, 0.95);
    backdrop-filter: blur(2px);
    border-bottom: 1px solid #ebf3f2;
  }

  body {
    flex-direction: column;
    align-items: center;
  }

  section {
      padding-bottom: 3em;
  }

  section.sticky {
    position: static;
    width: 100%;
    align-self: auto;
    flex-shrink: 1;
    padding-right: 6em;
    padding-top: 3em;
    background-color: #efefef;
    order: 1;
    visibility: hidden;
  }

  section, section.sticky {
    animation: fadeInBottom .8s ease-in-out;
  }

  section.sticky hr, section.sticky .table-of-contents {
    display: none;
  }


}

@media only screen and (max-width: 700px) {
  section {
    padding: 6em 2em;
  }

  section.sticky {
    padding-right: 2em;
    padding-bottom: 2em;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-3em);
    opacity: 0;
    filter: blur(5px);
  }

  to {
    transform: translateX(0em);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(3em);
    opacity: 0;
    filter: blur(5px);
  }

  to {
    transform: translateX(0em);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes fadeInBottom {
  from {
    transform: translateY(3em);
    opacity: 0;
    filter: blur(5px);
  }

  to {
    transform: translateY(0em);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes scrollingCookies {
  from { background-position: 0px   0px; }
  to   { background-position: 450px 0px; }
}
