
      html {
        scroll-behavior: smooth;
      }

      :root {
        --main-30: hsla(165, 100%, 30%, 1);
        --main-20: hsla(165, 100%, 20%, 1);
        --main-10: hsla(165, 100%, 10%, 1);
        --main-selection: hsla(165, 30%, 50%, .2);
      }

      ::selection {
        background: var(--main-selection);
      }

      body {

      }

      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        animation: fadeInBottom .8s ease-in-out;
      }

      h1 {
        font-size: 3.5em;
        font-weight: 600;
        color: #2B2B2B;
        padding-right: 2em;
        line-height: 120%;
      }

      span.span-emphasis {
        color: var(--main-30);
      }

      h2 {
        font-size: 1.5em;
        font-weight: 600;
        color: #333;
        margin-bottom: 1em;
      }

      p {
        line-height: 150%;
        margin-bottom: 1em;
        font-size: 1em;
        color: #000;
        opacity: .5;
        width: 100%;
        font-family: 'Sen', sans-serif;
      }

      p b {
        font-weight: bold;
      }

      ul {
        width: 100%;
        padding: 0 4em
      }

      sup {
        vertical-align: super;
        font-size: smaller;
      }

      a {
        color: hsl(165, 100%, 30%);
        transition: color .2s ease-in-out;
      }

      a:hover {
        color: hsl(165, 100%, 15%);
      }


      @keyframes fadeInBottom {
        from {
          transform: translateY(3em);
          opacity: 0;
          filter: blur(5px);
        }

        to {
          transform: translateY(0em);
          opacity: 1;
          filter: blur(0px);
        }
      }

      nav {
        padding: 1em 4em;
      }

      img {
        max-width: 100%;
      }

      nav {
        width: 100%;
        padding: 0;
      }

      nav .navbar {
        max-width: 1440px;
        padding: 1em 4em;
        margin: 0 auto;
      }

      .section {
        width: 100vw;
        max-width: 100%;
      }

      .section.coloured-bg {
        background-color: #F3F9F8;
      }

      .section--inner {
        max-width: 1440px;
        padding: 4em 4em;
        margin: 0 auto;
      }

      .hero .section--inner {
        display: flex;
        align-items: center;
      }

      .hero .section--inner .hero--left,
      .hero .section--inner .hero--right {
        width: 50%;
      }

      .hero p {
        font-size: 1.15em;
        line-height: 180%;
        max-width: 480px;
        margin-bottom: 2em;
      }

      .horiz-btn-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .horiz-btn-group button {
        width: auto;
      }

      .horiz-btn-group p {
        width: auto;
        margin: 0 1em;
        font-size: .85em;
        opacity: .5;
      }

      button {
        /* border: 2px solid var(--main-30); */
      }

      button.btn-secondary {
        background-color: transparent;
        border: 2px solid var(--main-30);
        color: var(--main-30);
        box-sizing: border-box;
      }

      .section--summary {
        width: 100%;
        text-align: center;
        color: var(--main-30);
        text-transform: uppercase;
        font-weight: bold;
        opacity: 1;
      }

      .section .side-by-side {
        display: flex;
        align-items: center;
      }

      .section .side-by-side .section--summary,
      .section .side-by-side h3 {
        text-align: left;
      }

      .section .side-by-side > div {
        width: 50%;
      }

      .section .side-by-side > div.has-padding {
        padding-left: 2em;
      }

      .steps {
        display: flex;
        flex-direction: column;
        margin: 2em 0;
      }

      .steps > .step {
        display: flex;
        margin-bottom: 1em;
      }

      .steps .step:hover .step--left p {
        color: var(--main-20);
      }

      .steps .step:hover h4 {
        color: var(--main-30);
      }

      .step .step--left p {
        font-size: 2em;
        opacity: .3;
        font-weight: bold;
        margin: 0;
        padding: 0;
        padding-right: .5em;
        transform: translateY(-.2em);

        transition: color .2s ease-in-out;
      }

      .step .step--right h4 {
        font-size: 1.5em;
        margin-bottom: .35em;
        transition: color .2s ease-in-out;
      }

      .step .step--right p {
        max-width: 400px;
      }

      h2 {
        width: 100%;
        text-align: center;
        font-size: 3em;
      }

      h3 {
        font-size: 2.3em;
        text-align: center;
      }

      p.subtitle {
        text-align: center;
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 4em;
      }

      .features--block {
        display: flex;
        flex-wrap: wrap;
        margin: 2em 0;
      }

      .features--block > .feature {
        flex: 0 33%;
        /* border: 1px solid red; */
        display: flex;
        padding: 1em;
        transition: background-color .2s ease-in-out;
        border-radius: 4px;
      }

      .features--block.half > .feature {
        flex: 0 50%;
        padding: 2em;
      }

      .features--block.half .horiz-btn-group {
        margin-top: 1em;
      }

      .features--block.half > .feature:hover {
        background-color: #f3f9f8;
      }

      .feature:hover .feature--icon {
        /* background-color: rgba(255,255,255,.7); */
        transform: translateY(-.4em);
        box-shadow: 0px 5px 15px rgba(0, 153, 114, .5);
      }

      .feature--icon {
        width: 64px;
        height: 64px;
        min-width: 64px;
        background-color: #fff;
        flex-shrink: 0;
        border-radius: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2em;
        box-shadow: 0px 2px 5px rgba(0, 153, 114, .4);

        transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
      }

      .feature--icon img {
        width: 28px;
        height: 28px;
      }

      .feature h3 {
        font-size: 1.4em;
        text-align: left;
        margin-bottom: .5em;
      }

      .video-container {
        max-width: 900px;
        margin: 4em auto;
      }

      @media only screen and (max-width: 1300px) {
        h1 {
          font-size: 3em;
        }
      }

      @media only screen and (max-width: 1120px) {
        .hero .section--inner {
          padding: 6em 4em;
        }

        h1 {
          font-size: 2.5em;
        }

        .features--block > .feature {
          flex: 0 50%;
        }

        .features--block.half {
          justify-content: center;
        }

        .features--block.half > .feature {
          flex: 0 100%;
        }

        .features--block.half > .feature {
          max-width: 600px;
        }
      }

      @media only screen and (max-width: 940px) {
        .hero .section--inner {
        }

        .section .side-by-side > div.has-padding {
          padding: 0;
        }

        .hero .section--inner .hero--left{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .hero--left * {
          text-align: center;
        }

        .hero--left h1 {
          padding-right: 0;
        }

        .hero--right {
          display: none;
        }

        .side-by-side .section--inner {
          flex-direction: column;
        }

        .side-by-side .section--inner > div {
          width: 100%;
        }

        .section .side-by-side .section--summary {
          text-align: center;
        }

        .side-by-side .side-by-side--right {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      @media only screen and (max-width: 800px) {
        .features--block > .feature {
          flex: 0 100%;
        }
      }

      @media only screen and (max-width: 600px) {
        .horiz-btn-group {
          flex-direction: column;
        }
      }
