html {
  background-color: #f3f3fc
}

.page {
  font-family: Sen, sans-serif;
  max-width: 54em;
  margin: 4em auto;
  background-color: #fff;
  padding: 6em;
  box-shadow: 0 5px 35px hsla(244, 40%, 32%, .15);
  border-radius: 2px
}

.consent {
  border-top: 4px solid #f3f3fc;
  margin-top: 3em;
  padding-top: 3em
}

h1 {
  color: #0000a3;
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: .8em;
  line-height: 1.2
}

.form__item {
  background-color: #f3f3fc;
  color: #0000a3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 0;
  margin-top: 10px;
}

.form__item:first-of-type {
  margin-top: 2em;
}

.form__item:last-of-type {
  margin-bottom: 2em;
}

.form__item p{
  width: 100%;
}

.consent-options, .experience-options {
  width: 100%;
  display: flex
}

.experience-options {
  flex-direction: column;
}

.consent-options button, .experience-options button {
  width: 100%;
  font-family: Sen, sans-serif;
  background-color: #f3f3fc;
  border: 1px solid #0000a3;
  box-sizing: border-box;
  color: #0000a3;
  cursor: pointer;
  padding: .4em;
  font-size: 1em;
  transition: background-color .2s ease-in-out, color .2s ease-in-out
}

.consent-options button {
  border-right: none;
}

.experience-options button {
  text-align: left;
  padding: .4em 1em;
  border-bottom: none;
}

.experience-options button:last-child {
  border-bottom: 1px solid #0000a3;
}

.consent-options button.active,
.consent-options button:hover,
.experience-options button.active,
.experience-options button:hover {
  background-color: #0000a3;
  color: #fff
}

.consent-options button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.consent-options button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: 1px solid #0000a3;
}

.call-to-action {
  background-color: #0000a3;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 100px;
  padding: .7em;
  font-size: 1em;
  border: none;
  font-family: Sen, sans-serif;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: background-color .2s ease-in-out
}

.call-to-action.inactive {
  background-color: #787891;
  cursor: help
}

.call-to-action span {
  transition: all .2s ease-in-out
}

.call-to-action:hover span {
  transform: translateX(1em)
}

p {
  line-height: 1.5;
  margin-bottom: 1em
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  line-height: 1.5
}

ol > li {
  margin-bottom: 1em
}

body {
  transition: all .2s ease-in-out
}

a {
  color: #0000a3
}

b {
  font-weight: 700
}

/* class applies to select element itself, not a wrapper element */
.form-dropdown {
  display: block;
  font-size: 1em;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #0c00a2;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
            for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

        */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%230000a3%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right .7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%;
}

/* Hide arrow icon in IE browsers */
.form-dropdown::-ms-expand {
  display: none;
}

/* Hover style */
.form-dropdown:hover {
  border-color: #888;
}

/* Focus style */
.form-dropdown:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Set options to normal weight */
.form-dropdown option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .form-dropdown, :root:lang(ar) .form-dropdown, :root:lang(iw) .form-dropdown {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.form-dropdown:disabled, .form-dropdown[aria-disabled=true] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%230000a3%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.form-dropdown:disabled:hover, .form-dropdown[aria-disabled=true] {
  border-color: #aaa;
}

@media only screen and (max-width:992px) {
  body {
    padding: 2em
  }

  .page {
    padding: 2em;
    margin: 0 auto;
    transition: .2s ease-in-out
  }

  h1 {
    font-size: 1.5em
  }
}

@media only screen and (max-width:400px) {
  body {
    padding: .5em
  }
}
