* {
  /* $DEBUG: ADD RED BORDER TO ALL ELEMENTS. TOGGLE IF NEEDED */
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: rgba(0, 0, 164, .1);
}

:root {
  --branding-main: hsl(240, 100%, 32%);
  --branding-main-light: hsl(216, 100%, 97%);
}

@keyframes fadeInBlur {
    from {
        transform: scale(.9);
        opacity: 0;
        filter: blur(5px);
    }

    to {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-3em);
    opacity: 0;
    filter: blur(5px);
  }

  to {
    transform: translateX(0em);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(3em);
    opacity: 0;
    filter: blur(5px);
  }

  to {
    transform: translateX(0em);
    opacity: 1;
    filter: blur(0px);
  }
}

body {
  font-family: "BentonSans", "Ubuntu", sans-serif;
}

.app {
  display: flex;
  /* height: 100vh; */
  width: 100vw;
}

.frame-container {
 width: 100%;
 max-height: 100vh;
 box-sizing: border-box;
 position: sticky;
 top: 0px;
}

.frame-container:hover {
  cursor: pointer;
}

.frame {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;

  filter: blur(10px);
}

.frame iframe {
  border-radius: 5px;
  /* border: 2px solid var(--branding-main); */
  box-shadow: 0px 5px 50px rgba(0,0,0,.2);

  /* animation: fadeInBlur 1.5s ease-in-out; */
}


/* Placeholder content for debugging */
.frame img {
  max-width: 100%;
}

.evaluation {
  z-index: 1;
  width: 420px;
  flex-shrink: 0;

  background-color: #FFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 100px rgba(0,0,0,.2);

  /* These get overridden when the onboarding screen is completed */
  height: 100vh;
  overflow-y: hidden;
}

.onboarding-wrapper {
  /* display: none; */
}

.progress-bar-container {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

.progress-bar {
  height: 4px;
  background-color: var(--branding-main);
  /* border-top: 2px solid white; */
  width: 0%;
}

.evaluation-intro {
  padding: 2em;
  border-bottom: 2px solid rgba(0,0,0,.1);
}

.evaluation h1 {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 1em;
  color: var(--branding-main);
}

.evaluation h2 {
  font-size: 1.10em;
  margin-bottom: .5em;
}

.evaluation h2 img {
  max-width: 20px;
  margin-right: .5em;
  transform: translateY(3px);
}

.evaluation p {
  color: #666;
  font-size: .9em;
  margin-bottom: 2em;
  line-height: 1.3em;
}

.evaluation li {
  color: #666;
  font-size: .9em;
  margin-bottom: .5em;
  line-height: 1.3em;
}

.evaluation li e {
  /* font-style: italic; */
  border-bottom: 1px dashed #CCC;
}

.evaluation ol {
  padding-left: 1em;
  /* margin-bottom: 1.5em; */
}

.evaluation ol:last-child {
  margin-bottom: 0em;
}

.evaluation ol li {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: .5em;
}

.evaluation ol li:hover {
  /* cursor: pointer; */
}

.evaluation ol li.clicked {
  text-decoration: line-through;
  opacity: .4;
}

.evaluation p img {
  max-width: 20px;
  margin-right: .8em;
  opacity: .6;
  transform: translateY(-1px);
}

.evaluation p:last-child {
  margin-bottom: 0px;
}

.evaluation h3 {
  margin-bottom: .5em;
  font-weight: 400;
}

.evaluation h3 span {
  font-size: .75em;
  color: #717171;
}

.evaluation a {
  color: var(--branding-main);
  transition: color .2s ease-in-out;
}

.evaluation a:hover {
  color: #000;
  text-decoration: none;
}

.evaluation .congrats-img {
  box-sizing: border-box;
  padding: 0em 5em;
}

.evaluation .stat-overview p {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background-color: #f6f6f6;
  margin: 0;
  /* padding: 20px 10px; */
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: "IBM Plex Mono", monospace;

  transition: opacity .4s ease-in-out;
}

.evaluation .stat-overview .stat-half {
  display: flex;
  align-items: stretch;
  margin: 2em 0;
}

.evaluation .stat-overview .stat-half:first-child {
  margin: 2em 0;
}

.evaluation .stat-overview .stat-half:last-child {
  margin-bottom: 0px;
}

.evaluation .stat-overview .stat-half p {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-align: center;
}

.evaluation .stat-overview .stat-half p img {
  margin-right: 0;
  margin-bottom: 1em;
}

.evaluation .stat-overview .stat-half p:last-child {
  margin-left: 2em;
}

.evaluation .timer:hover {
  opacity: 0;
  cursor: pointer;
}

.evaluation img {
  max-width: 100%;
}

.evaluation button {
  width: 100%;
  font-size: 1em;
  margin-top: 1em;
  padding: .7em 1.4em;
  margin-right: 1em;
  border-radius: 7px;
  background-color: none;
  border: 2px solid var(--branding-main);
  color: var(--branding-main);

  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.evaluation button:hover, .evaluation button:focus {
  background-color: var(--branding-main);
  color: #fff;
  cursor: pointer;
}

.form_section {
  padding: 2em;
  background-color: #fff;
}

.form_section:nth-child(even) {
  background-color: #f6f6f6;
}

/* Penultimate item */
.form_section:nth-last-child(2) {
  /* background-color: var(--branding-main-light); */
}

/* Last item: give extra emphasis? */
/* .form_section:last-child {
  background-color: var(--branding-main);
}

.form_section:last-child h2 {
  color: #fff;
}

.form_section:last-child h3 {
  color: #fff;
  opacity: .85;
}

.form_section:last-child h3 span {
  color: #fff;
  opacity: .7;
}

.form_section:last-child p {
  color: #fff;
  opacity: .7;
} */

.form-progressive-disclosure {
  display: none;
}

.form-progressive-disclosure h3:first-child {
  margin-top: 2em;
}

input, textarea {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #c3c3c3;
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 1em;

  font-family: "BentonSans", sans-serif;
  font-size: .9em;
  line-height: 1.3em;
  color: #333;

  transition: background-color .1s ease-in-out, border .1s ease-in-out, box-shadow .1s ease-in-out;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
  border: 1px solid var(--branding-main);
  background-color: var(--branding-main-light);
  box-shadow: 0px 0px 15px hsla(240, 100%, 32%, .1),
              inset 0px 0px 30px hsla(240, 100%, 62%, .05);
}

.radio-button-group {
  display: flex;
  width: 100%;
  /* border: 1px solid red; */
}

.radio-button-group input[type=radio] {
  /* Hide browser native html radio input rendering. */
  /* However, we use Snook Research's boilerplate to keep things accessible for those who use screen readers */
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.radio-button-group label {
  display: flex;
  flex-grow: 1;

  border: 1px solid var(--branding-main);
  border-right: none;

  justify-content: center;
  align-items: center;
  padding: 10px 0px 8px 0px;

  color: var(--branding-main);
  font-size: .8em;
  font-family: "BentonSans", sans-serif;
  line-height: 1.3em;

  transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .15s ease-in-out;
}

.radio-button-group label:nth-child(2) {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.radio-button-group label:last-child {
  border-right: 1px solid var(--branding-main);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.radio-button-group label:hover {
  background-color: var(--branding-main);
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 0px 15px hsla(240, 100%, 32%, .15);
}

.radio-button-group input[type="radio"]:focus + label {
  background-color: var(--branding-main);
  color: #fff;
  box-shadow: 0px 0px 15px hsla(240, 100%, 32%, .15);
}

.radio-button-group label:after {
  text-align: center;
}

.radio-button-group input[type="radio"]:checked + label {
  background-color: var(--branding-main);
  color: #fff;
}

.p_emphasis {
  font-style: italic;
  opacity: .7;
}

input[type="submit"] {
  background-color: var(--branding-main);
  border: 2px solid var(--branding-main);
  margin-bottom: 0px;
  border-radius: 5px;

  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;
  letter-spacing: .05em;
  color: #FFF;
  padding-top: 1.2em;

  transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
}

input[type="submit"][disabled] {
  background-color: #a0a0a0;
  color: #fff;
  border: 2px solid #a0a0a0;
}

input[type="submit"]:hover {
  background-color: #fff;
  border: 2px solid var(--branding-main);
  cursor: pointer;

  color: var(--branding-main);
  box-shadow: 0px 0px 15px hsla(240, 100%, 32%, .3);
}

input[type="submit"][disabled]:hover {
  cursor: not-allowed;
  background-color: #a0a0a0;
  color: #fff;
  border: 2px solid #a0a0a0;
  box-shadow: none;
}

/* Start Balloon.css framework */
/* Baloon.css tooltip framework, courtesy of https://kazzkiq.github.io/balloon.css/ */
:root {
  --balloon-color: rgba(16, 16, 16, 0.95);
  --balloon-font-size: 12px;
  --balloon-move: 4px; }

button[aria-label][data-balloon-pos] {
  overflow: visible; }

[aria-label][data-balloon-pos] {
  position: relative;
  cursor: pointer;
}

[aria-label][data-balloon-pos]:after { /* :after is Balloon main and content */
  opacity: 0;
  pointer-events: none;
  transition: all .18s ease-out .18s;
  transition-delay: .2s; /* Adjust this to make the tooltip appear later */
  text-indent: 0;
  font-family: 'BentonSans', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: var(--balloon-font-size);
  background: var(--balloon-color);
  border-radius: 2px;
  color: #fff;
  content: attr(aria-label);
  padding: .5em 1em;
  position: absolute;
  white-space: pre-wrap;
  /* white-space: pre-wrap; */
  z-index: 10;
}

[aria-label][data-balloon-pos]:before { /* :before is the body's pointer */
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: var(--balloon-color);
  opacity: 0;
  pointer-events: none;
  transition: all .18s ease-out .18s;
  transition-delay: .2s; /* Adjust this to make the tooltip appear later */
  content: "";
  position: absolute;
  z-index: 10;
}

[aria-label][data-balloon-pos]:hover:before, [aria-label][data-balloon-pos]:hover:after, [aria-label][data-balloon-pos][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-visible]:after, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
  opacity: 1;
  pointer-events: none;
}

[aria-label][data-balloon-pos].font-awesome:after {
  font-family: 'BentonSans', sans-serif;
}

[aria-label][data-balloon-pos][data-balloon-break]:after {
  white-space: pre-wrap;
}

[aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
  white-space: pre-wrap;
  word-break: break-word;
}

[aria-label][data-balloon-pos][data-balloon-blunt]:before, [aria-label][data-balloon-pos][data-balloon-blunt]:after {
  transition: none;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
  bottom: 100%;
  left: 50%;
  margin-bottom: 10px;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:before {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after {
  transform: translate(-50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:before {
  transform: translate(-50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:after {
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:before {
  bottom: 100%;
  left: 5px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="up-left"][data-balloon-visible]:after {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="up-left"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:after {
  bottom: 100%;
  right: 0;
  margin-bottom: 10px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:before {
  bottom: 100%;
  right: 5px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="up-right"][data-balloon-visible]:after {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="up-right"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="down"]:after {
  left: 50%;
  margin-top: 10px;
  top: 100%;
  transform: translate(-50%, calc(var(--balloon-move) * -1));
}

[aria-label][data-balloon-pos][data-balloon-pos="down"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--balloon-color);
  left: 50%;
  top: 100%;
  transform: translate(-50%, calc(var(--balloon-move) * -1));
}

[aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:after {
  transform: translate(-50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:before {
  transform: translate(-50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:after {
  left: 0;
  margin-top: 10px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--balloon-color);
  left: 31px; /* Adjust this to fine-tune pointer centering for 'down-left' */
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="down-left"][data-balloon-visible]:after {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="down-left"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:after {
  right: 0;
  margin-top: 10px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--balloon-color);
  right: 30px; /* Adjust this to fine-tune pointer centering for 'down-right' */
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="down-right"][data-balloon-visible]:after {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="down-right"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:after {
  margin-right: 10px;
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: var(--balloon-color);
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:after {
  transform: translate(0, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:before {
  transform: translate(0, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:after {
  left: 100%;
  margin-left: 10px;
  top: 50%;
  transform: translate(calc(var(--balloon-move) * -1), -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: var(--balloon-color);
  left: 100%;
  top: 50%;
  transform: translate(calc(var(--balloon-move) * -1), -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:after {
  transform: translate(0, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:before {
  transform: translate(0, -50%);
}

[aria-label][data-balloon-pos][data-balloon-length="small"]:after {
  white-space: pre-wrap;
  width: 80px;
}

[aria-label][data-balloon-pos][data-balloon-length="medium"]:after {
  white-space: pre-wrap;
  width: 150px;
}

[aria-label][data-balloon-pos][data-balloon-length="large"]:after {
  white-space: pre-wrap;
  width: 260px;
}

[aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
  white-space: pre-wrap;
  width: 380px;
}

@media screen and (max-width: 768px) {
  [aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
    white-space: pre-wrap;
    width: 90vw;
  }
}

[aria-label][data-balloon-pos][data-balloon-length="fit"]:after {
  white-space: pre-wrap;
  width: 100%;
}

/* - - - - - - - - - - - - */
.hide {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  position: translate(-50%, -50%);
  background-color: #fff;
  padding: 2em;
  box-shadow: 0px 5px 25px rgba(0,0,0,.2);
}

.onboarding-wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  background-color: #FDFDFD;

  /* border: 1px solid red; */
}

.onboarding-wrapper.hover {
  background-color: hsl(240, 62%, 97%);
}

.onboarding-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.onboarding-content .invitation {
  animation: fadeInLeft .8s ease-in-out;
}

.onboarding-content .invitation img {
  max-width: 500px;
  filter: hue-rotate(70deg);
  transition: transform .6s ease-in-out;
}

.onboarding-content .invitation img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.onboarding-content .invitation img.hover {
  transform: scale(1.05);
}

.onboarding-content .information {
  max-width: 450px;
  animation: fadeInRight .8s ease-in-out;
}

.onboarding-content h1 {
  font-size: 1.5em;
  color: #333;
  line-height: 140%;
  margin-bottom: .5em;
}

.onboarding-content h1 a {
  color: inherit;
  line-height: 80%;
}

.onboarding-content h2 {
  color: #777;
  font-style: italic;
  margin-bottom: 2em;
}

.onboarding-content h2 span {
  color: var(--branding-main);
  opacity: .7;
}

.onboarding-content button {
  font-size: 1.1em;
  padding: .7em 1.4em;
  margin-right: 1em;
  border-radius: 7px;
  border: 2px solid black;
  color: black;
  background-color: transparent;

  transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.onboarding-content button.main {
  background-color: var(--branding-main);
  border-color: var(--branding-main);
  color: #fff;
}

.onboarding-content button.main:hover, .onboarding-content button.main:focus {
  background-color: hsla(240, 100%, 99%, 0);
  border-color: var(--branding-main);
  color: var(--branding-main);
  box-shadow: 0px 0px 15px hsla(240, 100%, 32%, .15), inset 0px 0px 8px hsla(240, 100%, 32%, .2);
}

.onboarding-content button:hover, .onboarding-content button:focus {
  cursor: pointer;
  background-color: hsl(240, 0%, 97%);
  border-color: #777;
  color: #555;

  box-shadow: 0px 0px 15px hsla(240, 0%, 32%, .15), inset 0px 0px 8px hsla(240, 0%, 32%, .2);
}

a[href$=".pdf"]::after {
  content: " (PDF)";
}
