html {
  scroll-behavior: smooth;
  font-family: "BentonSans", "Ubuntu", sans-serif;
}

:root {
  --main-30: hsla(165, 100%, 30%, 1);
  --main-20: hsla(165, 100%, 20%, 1);
  --main-10: hsla(165, 100%, 10%, 1);
  --main-selection: hsla(165, 100%, 10%, .1);
}

::selection {
  background: var(--main-selection);
}

body {
  display: flex;
  flex-direction: column;
}

body.dash {
  background-color: hsl(165, 24%, 94%);
}

nav {
  position: fixed;
  width: 100vw;
  /* height: 4em; */
  z-index: 10;
  transition: transform .3s ease-in-out;
}

nav.headroom--unpinned {
  transform: translateY(-8em);
}

nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #fff;
}

nav .navbar .nav-sign-in {
  display: none;
}

nav .navbar.homepage {
  box-shadow: 0px 2px 20px hsla(165, 50%, 15%, 0.2);
}

nav .navbar.homepage .urlbar {
  display: none;
}

nav .navbar.homepage .nav-account {
  display: none;
}

nav .navbar.homepage .nav-sign-in {
  display: block;
}

.navbar .nav-logo {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
}

.navbar .nav-logo img {
  margin-right: .5em;
}

.navbar .nav-account {
  color: #333;
}

.navbar button.nav-sign-in {
  width: auto;
}

.urlbar {
  display: flex;
}

.urlbar input {
  width: 30em;
  border: none;
  border-radius: 4px;

  margin-right: .5em;
  /* border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; */
  font-size: 1em;
  padding: 0.5em 1em;

  background-color: hsl(165, 24%, 94%);
  color: hsl(165, 80%, 10%);
}

.urlbar button {
  width: auto;
  /* border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; */
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: hsl(165, 24%, 94%);
  height: calc(100vh - 78px);
  margin-top: 78px;

  animation: fadeInBottom .8s ease-in-out;
}

.dashboard-empty img {
  max-width: 100%;
  width: 40em;
  mix-blend-mode: multiply;
}

.dashboard-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-empty h1, p {
  text-align: center;
}

.dashboard-empty h1 {
  font-size: 1.7em;
  color: #111;
}

.dashboard-empty p {
  color: #333;
  /* font-size: 1.3em; */
}

button {
  background-color: var(--main-30);
  color: #fff;
  font-size: .9em;
  font-weight: 700;
  width: 100%;

  padding: 1em 3em;
  border-radius: 4px;
  border: none;
  transition: background-color .2s ease-in-out;
}

button:hover, button:focus {
  cursor: pointer;
  background-color: var(--main-20);
}

button:hover .chevron-right {
  /* margin-left: 2em; */
}

button .chevron-right {
  margin-left: .7em;
  transition: margin-right .2s ease-in-out;
}

p, li, h1, h2, h3 {
  line-height: 150%;
}

p {
  margin-bottom: 1em;
}

h1 {
  font-size: 2.5em;
  font-weight: bolder;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  color: var(--main-30);
  transition: color .2s ease-in-out;
}

a:hover, a:focus {
  color: var(--main-10);
}

button .chevron-left {
  margin-right: .7em;
  transition: margin-left .2s ease-in-out;
}

button:hover .chevron-left{
  margin-left: -2em;
}

@media only screen and (max-width: 1060px) {

}

@media only screen and (max-width: 700px) {

}

@keyframes fadeInLeft {
  from {
    transform: translateX(-3em);
    opacity: 0;
    filter: blur(5px);
  }

  to {
    transform: translateX(0em);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(3em);
    opacity: 0;
    filter: blur(5px);
  }

  to {
    transform: translateX(0em);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes fadeInBottom {
  from {
    transform: translateY(3em);
    opacity: 0;
    filter: blur(5px);
  }

  to {
    transform: translateY(0em);
    opacity: 1;
    filter: blur(0px);
  }
}
